{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "useTabs": true,
  "quoteProps": "consistent",
  "arrowParens": "always",
  "printWidth": 180,
  "vueIndentScriptAndStyle": true
}