[Desktop Entry]
Type=Application

Name=Resticity
Comment=A frontend for restic backups. 
Categories=Development;Documentation;
Keywords=restic,resticity;

Icon=com.github.Resticity
Exec=resticity
Terminal=false